:root{
    --pink: #ff006b;
    --white: white;
    --black: #121111;
}

*{
    place-items: center;
    
    background-color: var(--black);
    
}
  
    #logo-photo{
        
        display: grid;
        width: 40%;
        }
        

        nav{
            width:45%;
            display: flex;
            justify-content: center;
            text-decoration: none;
        }
        
            ul{
                display: flex;
                list-style-type: none; 
                text-decoration: none;
                }
                
                li{
                    animation: fade-up 1s;
                    display: inline-block;
                    text-decoration: none;
                }
                    .nav{
                        
                        column-gap: 15%;
                        font-size: 170%;
                        text-decoration: none;
                        display: inline-block;
                        text-align: center;
                        align-content:center;
                        padding: 10px 30px;/*first number top/bottom and second is left and right*/
                        color:white;
                        font-family: "Poppins", sans-serif;
                        font-weight: 100;
                        font-style: normal;
                    }
                    li:hover {
                    
                        border-radius: 45%;
                        border-color: var(--white);
                        text-shadow: 0 0 6px;
                        }
                    
h1{ 
    float: left;
    width: 100%; 
    text-align: center; 
    justify-content: center;
    color: var(--white);
    border-bottom: 5px solid var(--pink); 
    line-height: 0.1em;
    margin: 10px 0 20px;
    }
p span{
    background:var(--black); 
    padding:20px;
    color: var(--white);
    font-size: 2em;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    border-radius: 50%;
    
    margin-top: 1em;
}
span{
    background:var(--black); 
    padding: 50px;
    color: var(--white);
    line-height: .5em;
    font-size: 2em;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border-radius: 50%;
}
.break{
    padding-top: 6%;
    padding-bottom: 5%;
    padding-left: 6%;
    font-size: 2em;
    place-items: center;
    border: var(--white);
    border-bottom-style:dotted;
    border-top-style:dotted;
    border-width: 5px;
    

}
.about-img{
    float: right;
    padding-top: 90px;
    width:50%;
}
p{  
    padding-top:10%;
    max-width:85%;
    font-size: 1.5em;
    color:var(--white);
    
}


@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9) ;
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1) ;
    }
}


.nanum-myeongjo-bold {
font-family: "Nanum Myeongjo", serif;
font-weight: 700;
font-style: normal;
}
.poppins-medium {
font-family: "Poppins", sans-serif;
font-weight: 900;
font-style: normal;
}

    