
:root{
    --pink: #ff006b;
    --white: white;
    --black: #121111;
}

*{
    
    background-color: var(--black);
}
body{
    padding: 20px;
}
    
header{
    display: flex;   
    
}
    
    #logo-photo{
        width: 40%;
        
    }
    

    nav{
        text-decoration: none;
    }
    
        ul{
            display:inline-flex; 
            text-decoration: none;
            }
            
            li{
                text-decoration: none;
                display: grid;
                margin-right: 5px;
                padding: 20px;
            }
            
                    .nav{
                        font-size: 150%;
                        padding:5%;
                        text-decoration: none;
                        text-align: center;
                        color:white;
                        font-family: "Poppins", sans-serif;
                        font-weight: 100;
                        font-style: normal;
                    }
                    
                
                li:hover {
                    
                    border-radius: 45%;
                    border-color: var(--white);
                    border-style: dotted;
                    text-decoration: none;
                    }
                


@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9) ;
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1) ;
    }
}
                    


.nanum-myeongjo-bold {
font-family: "Nanum Myeongjo", serif;
font-weight: 700;
font-style: normal;
}
.poppins-medium {
font-family: "Poppins", sans-serif;
font-weight: 900;
font-style: normal;
}

    