*{
    
    background-color: rgb(18, 17, 17);
    header{
        display: flex;
        flex-direction: row;
        
    }
    h1{
        
        font-size: 65px;
        padding-top: 2.5%;
        text-align: center;
        color: white;
        font-family: "Nanum Myeongjo", serif;
        font-weight: 700;
        font-style: normal;
        width:33%;

        span{
            text-align: center;
            color: rgb(255 0 107);
            font-family: "Poppins", sans-serif;
            font-weight: 900;
            font-style: normal;
        }
    }
    img{
        width:33%;
        padding-left: 10%;
    }
}
.nanum-myeongjo-bold {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 700;
    font-style: normal;
    }
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    }
    
        
