:root{
    --pink: #ff006b;
    --white: white;
    --black: #121111;
}

*{
    place-items: center;
    background-color: var(--black);  
}
    #logo-photo{
        display: grid;
        width: 40%;
        }
        nav{
            width:45%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-decoration: none;
        }
            ul{
                display: flex;
                flex-wrap: wrap;
                list-style-type: none; 
                text-decoration: none;
                
                }
                li{
                    animation: fade-up 1s;
                    display: inline-block;
                    text-decoration: none;
                    place-items: center;
                }
                    .nav{  
                        column-gap: 20%;
                        font-size: 90%;
                        text-decoration: none;
                        display: inline-block;
                        text-align: center;
                        align-items:center;
                        padding: 10px 30px;/*first number top/bottom and second is left and right*/
                        color:white;
                        font-family: "Poppins", sans-serif;
                        font-weight: 100;
                        font-style: normal;
                    }
                    
        h1{
            width: 100%;
            color: var(--white);
            padding-top: 20px;
            padding-bottom: 30px;
            border-top:5px dotted var(--white);
            border-bottom:5px dotted var(--white);
            margin-top: 2%;
            font-size: 2em;
            text-align: center;
            font-family: "Nanum Myeongjo", serif;
            font-weight: 300;
            font-style: normal;
        }
            .desserts{
                margin-top: 0%;
                color: var(--pink);
                font-family: "Poppins", sans-serif;
                font-weight: 800;
                font-style: normal;
            }
        h2{
            font-size: 1.8em;
            color: var(--white); 
        }
            .love{
                color: var(--pink);
                font-size: 1.8em;
                font-family: "Dancing Script", cursive;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: normal;
                border-radius: 50%;
        }
            .photos-div{
                display:flex;   
            }
                .photos{
                    display: inline;
                    align-items: center;
                    margin: 1%;
                    padding-left: 6%;
                    width:15%;  
                }
                .photos:hover{
                    width: 20%;
                    transition:100ms;
                    margin: 0 auto;
                }             
                a{
                    color: var(--pink);
                    font-size: 200%;
                    font-family: "Dancing Script", cursive;
                    font-optical-sizing: auto;
                    font-weight: 700;
                    font-style: normal;
                    border-radius: 50%;
                    text-decoration: none;
                    }
                a:hover{
                    text-shadow: 0 0 10px;
                }
.contact{
    place-items: center;
    box-sizing:border-box;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 700;
    font-style: normal;
    width: 100%;
    background-color: var(--black);
    } 
    h3{  
        color: var(--white);
        padding-top: 50px;
        font-size: 2.5em;
        font-family: "Nanum Myeongjo", serif;
        font-weight: 700;
        font-style: normal;
        margin-bottom: 10px;   
    }
    h4{
        color: var(--white);
        text-align: center;
        color: white;
        font-size: 2em;
        margin-bottom: 20px;

    }
    h5{
        
        text-align: center;
        color: white;
        font-size: 1.5em;
        margin-bottom: 20px;
    }
    p{ 
        text-align: center;
        color: white;
        font-size: 1.25em;
        margin-bottom: 20px;
    }
    button{
        color: var(--white);
        font-size: 2em;
        font-family: "Nanum Myeongjo", serif;
        font-weight: 700;
        font-style: normal;
        border-radius: 50%;
        padding: 15px;
        border-style: dotted;
        border-color: var(--white); 
        box-shadow: 0 0 15px;         
}

    .contact form{
        width:100%
        justify-items: center; 
    }
    .field .item{
        width: 100%;
        align-items: center;
        padding: 15px 5px;
        margin-bottom: 25px;
        background: transparent;
        border: 2px solid var(--pink);
        font-size: 1em;
        color: var(--white);
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
    }
    .field .item::placeholder{
        color: var(--white);
        font-size: 1.25em;
        font-weight: 300;
        padding-left: 5%;
    }
    form #textarea-field .item{
        resize: none;   
    }
    form button:hover{
        box-shadow: none;
    }
    .field .error-txt{
        font-size: .5em;
        color: var(--pink);
        text-align: left;
        margin: -5px 0 10px ;
        display: none;
    }
    
    .menu-img{
        width: 85%;
        padding-top: 7%;
        padding-bottom: 7%;
    }
@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9) ;
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1) ;
    }
}
.nanum-myeongjo-bold {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 700;
    font-style: normal;
    }
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    }
    
        