:root{
    --pink: #ff006b;
    --white: white;
    --black: #121111;
}

*{
    place-items: center;
    margin:10px;
    background-color: var(--black);
}
    
  
    #logo-photo{
        display: grid;
        width: 65%;
        }
    

        nav{
            display: flex;
            align-items: center;
            text-decoration: none;
        }
        
            ul{
                display: flex;
                list-style-type: none; 
                text-decoration: none;
                }
                
                li{
                    display: inline-block;
                    text-decoration: none;
                }
                    .nav{
                        column-gap: 15%;
                        font-size: 200%;
                        text-decoration: none;
                        display: inline-block;
                        text-align: center;
                        align-content:space-between ;
                        padding: 10px 30px;/*first number top/bottom and second is left and right*/
                        color:white;
                        font-family: "Poppins", sans-serif;
                        font-weight: 100;
                        font-style: normal;
                    
                    &:hover {
                        background:var(--pink);
                        border-radius: 45%;
                        text-decoration: none;
                        }
                    }
        h1{
            
            color: var(--white);
            margin-bottom: 0%;
            font-size: 65px;
            text-align: center;
            font-family: "Nanum Myeongjo", serif;
            font-weight: 300;
            font-style: normal;
        }
        .desserts{
            margin-top: 0%;
            color: var(--pink);
            font-family: "Poppins", sans-serif;
            font-weight: 800;
            font-style: normal;
        }
        h2{
            font-size: 200%;
            color: var(--white); 
        } 

        .love{
            color: var(--pink);
            font-size: 200%;
            font-family: "Dancing Script", cursive;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
            border-radius: 50%;
        }
        .photos{
            display: inline-block;
            margin-left: 3%;
            border-radius: 50%;
            width:20%;
        }

            .photos:hover{
                width: 50%;
                transition-timing-function:linear;
            }
 

    




.nanum-myeongjo-bold {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 700;
    font-style: normal;
    }
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    }
    
        